<!doctype html>
<html th:lang="#{html.lang}">
<head>
    <th:block th:replace="fragments/common.html :: head"/>
    <link th:href="@{public/signin.css}" rel="stylesheet">
</head>

<body class="text-center">
<main class="form-signin">
    <th:block th:if="${providers.size > 0}">
        <div class="with-provider mb-3">
            <h1 class="h3 mb-3 fw-normal" th:text="#{html.login.withProvider.title}"></h1>
            <th:block th:each="provider: ${providers}">
                <a type="button"
                   class="btn btn-lg w-100 mb-1"
                   th:href="@{|/external/${provider.name}/authorize?state=${state}|}"
                   th:style="|background: #{'provider.' + ${provider.name} + '.background'};|"
                   th:styleappend="|color: #{'provider.' + ${provider.name} + '.color'};|"
                   th:text="#{'provider.' + ${provider.name} + '.name'}">
                </a>
            </th:block>
        </div>

        <div class="or text-muted mb-3" th:text="#{html.common.or}"></div>
    </th:block>

    <form method="post">
        <h1 class="h3 mb-3 fw-normal" th:text="#{html.login.withEmail.title}"></h1>

        <div class="form-floating">
            <input type="email" class="form-control" id="email" placeholder="name@example.com">
            <label th:text="#{html.common.email}" for="email"/>
        </div>
        <div class="form-floating mb-1">
            <input type="password" class="form-control" id="password" placeholder="Password">
            <label th:text="#{html.common.password}" for="password"/>
        </div>
        <div class="mb-4">
            <a th:text="#{html.login.forgotPassword.link}" th:href="FIXME"/>
        </div>

        <button class="w-100 btn btn-lg btn-primary mb-1" type="submit"
                th:text="#{html.login.withEmail.button}"></button>
        <div class="create-account">
            <span th:text="#{html.login.createAccount.catchphrase}"></span>
            <a th:text="#{html.login.createAccount.link}" th:href="@{|/account/create?state=${state}|}"/>
        </div>
    </form>
</main>
</body>

<th:block th:replace="fragments/common.html :: scripts"/>

</html>
